[Unit]
Description=IRCAM stereo driver (H264 stream)
After=docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/voxl_docker
ExecStart=docker compose up
ExecStop=docker compose down
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
