[Unit]
Description=IRCAM stereo driver (H264 stream)
After=docker.service voxl-wait-for-fs.service voxl-camera-server.service voxl-streamer.service
Requires=docker.service voxl-wait-for-fs.service voxl-camera-server.service voxl-streamer.service 
 
[Service]
Type=simple
WorkingDirectory=/voxl_docker
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=on-failure
RestartSec=5
StartLimitBurst=3
StartLimitInterval=30
TimeoutStopSec=5


[Install]
WantedBy=multi-user.target