[Unit]
Description=VOXL MPA to ROS2 with stable encoding
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/voxl_mpa_to_ros2_SE_startup.sh
Restart=on-failure
RestartSec=3
KillMode=process

[Install]
WantedBy=multi-user.target
