[Unit]
Description=VOXL Lightware Lidar SF30-D
After=voxl-wait-for-fs.service voxl-camera-server.service
Requires=voxl-wait-for-fs.service voxl-camera-server.service

[Service]
User=root
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/voxl-custom-lightwarelidar.sh
Restart=on-failure
RestartSec=3
StartLimitBurst=3
StartLimitInterval=30
KillMode=control-group
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
